* {
  font-family: "Montserrat", sans-serif;
}

body,
html {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 100%;
}
.flex-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

.topnav {
  display: flex;
  background-color: #2460b9;
  font-size: 16px;
  width: 100%;
  height: 50px;
  justify-content: end;
  color: #fff;
  align-items: center;
  margin-top:20px;
}
/* .headlogoarea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top:5px;
    
} */

.top-info {
  margin-right: 10px;
  border-radius: 35px;
  background-color: #fff;
  color: black;
  width: 100px;
  height: 50px;
  align-items: center;
  display: none;
}

.main-navbar {
  display: flex;
  background-color: #002c58;
  font-size: 16px;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  justify-content: space-evenly;
  color: #fff;
  align-items: center;
  padding: 5px;
  flex-wrap: wrap;
}
.nav-item {
  padding: 5px;
}

a {
  color: #fff;
  text-decoration: none !important; 
}

.list-group-item > a {
  color: black;
}

.wrapper-footer {
  background: #2460b9;
  margin-top: 5px;
  padding: 5px;
  color: #fff;
}

.footer {
  display: flex;
  background: #002c58;
  padding: 5px;
  height: 30px;
  color: #fff;
  justify-content: space-evenly;
}

/* Google icons */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



/* .footerarea{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
}  */

