{% extends "base.html" %} {% load static %} {% block content %}

<h2>Dashboard</h2>

<div class="sidebar">
  <div class="nav-sidebar">
    <div class="nav-items">
      <a href=""
        ><span class="material-symbols-outlined"> add </span> Add Doctors</a
      >
    </div>
    <div class="nav-items">
      <a href=""
        ><span class="material-symbols-outlined"> settings </span> Settings</a
      >
    </div>
    <div class="nav-items">
      <a href=""
        ><span class="material-symbols-outlined"> partner_reports </span>
        Reports</a
      >
    </div>
  </div>
</div>



{% endblock %}
